@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inder&family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/homizio");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --primary-font: "Homizio", sans-serif;
  --secondary-font: "Inder", sans-serif;
  /* color */
  --primary-color: #0f0f0f;
  --secondary-color: #ffffff;
  --red-color: #ce2017;
  --gray-color: #b2b2b2;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
  color: var(--secondary-color);
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
}

p {
  font-family: var(--secondary-font);
}
.container {
  width: 90%;
  margin: auto;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: black;
  font-size: 18px;
  font-weight: 700;
}


.top-banner-careers {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(180deg,
            rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(31, 29, 29, 0.85) 100%),
        url("./assets/imgs/Rectangle\ 248.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.top-banner-careers h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #444;
    margin-bottom: 30px;
    padding-left: 5%;

}

.tab {
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #aaa;
}

.tab.active {
    color: #fff;
    border-bottom: 2px solid #00aaff;
}

/* Grid */
.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 55px;
    padding: 40px;
}

/* Card */
.event-card {
    background: #fff;
    color: #000;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.event-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.event-content {
    padding: 25px;
    flex: 1;
}

.event-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.fa-calendar {
  margin-right: 6px;
  color: #ff3b3b;
  font-size: 18px;
}

.event-date {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.event-organizer {
    font-size: 20px;
    margin-top: 30px;
}
.event-organizer1{
    font-size: 22px;
    font-weight: 700;
    color:#ff3b3b;
    margin-bottom: 5px;
    margin-top: 5px;
}

.event-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.learn-more {
    background: transparent ;
    color: #ff3b3b;
    padding:10px 20px;
    border-radius: 10px;
    border: 2px solid #ff3b3b;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.learn-more:hover {
    background: #ff3b3b;
    color: #fff;
}
.div-box{
    display: flex;
    justify-content: space-around;
}