@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inder&family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/homizio");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --primary-font: "Homizio", sans-serif;
  --secondary-font: "Inder", sans-serif;
  /* color */
  --primary-color: #0f0f0f;
  --secondary-color: #ffffff;
  --red-color: #ce2017;
  --gray-color: #b2b2b2;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
  color: var(--secondary-color);
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.7rem;
}

p {
  font-family: var(--secondary-font);
  font-size: 20px;
}
.container {
  width: 90%;
  margin: auto;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.left-tag li a {
    font-size: 15px;
   color: #c7c7c7;
}
.left-tag li a:hover{
    color: red;
}
.share a{
    font-size: 20px;
}
.share a:hover{
    color: red;
}

.top-banner-careers {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(180deg,
            rgba(0, 0, 0, 0.75) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(31, 29, 29, 0.85) 100%),
        url("./assets/imgs/Rectangle\ 248.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.top-banner-careers h1 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}


/* Tabs */
.tabs{
  display:flex;
  justify-content:center;
  gap:20px;
  margin:40px 0 20px;
  font-size: 18px;
}

.tabs label{
  background:#e0e0e0;
  padding:10px 28px;
  border-radius:25px;
  cursor:pointer;
  font-weight:600;
  transition:.3s;
}

input[type="radio"]{
  display:none;
}

/* Active Tab */
#all:checked ~ .tabs label[for="all"],
#italia:checked ~ .tabs label[for="italia"],
#course:checked ~ .tabs label[for="course"],
#seminar:checked ~ .tabs label[for="seminar"]{
  background:#ac1919;
  color:#fff;
}

/* Grid */
.events-grid{
  max-width:1200px;
  margin:auto;
  padding:20px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

/* Card */
.event-card{
  background:#fff;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 6px 15px rgba(0,0,0,.1);
  max-width: 400px;
}

.event-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.event-content{
  padding:20px;
}

.event-title{
  font-weight:700;
  font-size:26px;
  margin-bottom:12px;
  color: red;
}

.event-date{
  font-size:18px;
  color:#555;
  margin-bottom:20px;
}

.div-box{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}

.event-organizer{
  font-size:20px;
  color:#777;
  padding-bottom: 10px;
}

.event-organizer1{
  font-weight:600;
  font-size:18px;
}

.learn-more{
  text-decoration:none;
  font-weight:600;
  color:#000;
}
.learn-more:hover{
    color: red;
}

/* ---------------- FILTER LOGIC ---------------- */

/* Default hide */
#italia:checked ~ .events-grid .event-card,
#course:checked ~ .events-grid .event-card,
#seminar:checked ~ .events-grid .event-card{
  display:none;
}

/* Show All */
#all:checked ~ .events-grid .event-card{
  display:block;
}

/* Show Category */
#italia:checked ~ .events-grid .italia{
  display:block;
}

#course:checked ~ .events-grid .course{
  display:block;
}

#seminar:checked ~ .events-grid .seminar{
  display:block;
}




/* -events 1*/

.course-hero{
  background:#000;
  padding:60px 0;
  color: #eee;
}

.course-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
  padding:0 20px;
}

/* LEFT */
.course-left .course-tag{
  font-size:12px;
  font-weight:700;
  letter-spacing:1px;
  color:#888;
}

.course-left h1{
  font-size:38px;
  line-height:1.2;
  margin:20px 0;
  font-weight:800;
  color:#fff;
}

.course-left h3{
  color:#b42d2d;
  font-weight:700;
  line-height:1.5;
  margin-bottom:20px;
  margin-top: 10px;
  font-size: 32px;
}

.course-left h3 span{
  font-weight:500;
  color:#555;
}

.course-left p{
  color:#777;
  font-size:15px;
  line-height:1.7;
  max-width:520px;
}

/* RIGHT */
.course-right img{
  width:100%;
  border-radius:6px;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* RESPONSIVE */
@media(max-width:900px){
  .course-container{
    grid-template-columns:1fr;
  }

  .course-left h1{
    font-size:30px;
  }
}


.event-details{
  background:#000;
  padding:60px 0;
  color: #eee;
}

/* CARD */
.event-card{
  overflow:hidden;
  transition:transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

/* IMAGE */
.event-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  transition:transform 0.6s ease;
}

/* HOVER EFFECT */
.event-card:hover{
  transform:translateY(-6px);
  box-shadow:0 15px 35px rgba(0,0,0,0.25);
}
.event-card img{
  transition:transform 1s ease;
}
.event-card:hover{
  transform:translateY(-6px);
}


.event-card:hover img{
  transform:scale(1.12);
}


.event-wrapper{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:260px 1fr;
  gap:60px;
  padding:0 20px;
}

/* SIDEBAR */
.event-sidebar h4{
  font-size:12px;
  letter-spacing:1px;
  margin-bottom:15px;
}

.event-sidebar ul{
  list-style:none;
  padding:0;
  margin-bottom:30px;
}

.event-sidebar ul li{
  font-size:12px;
  margin-bottom:6px;
}

.share-icons a{
  margin-right:10px;
  text-decoration:none;
  font-weight:700;
  color:#fff;
}

/* CONTENT */
.event-content p{
  font-size:15px;
  line-height:1.8;
  color:#c7c7c7;
  margin-bottom:20px;
}

.event-content h2{
  margin:40px 0 20px;
  font-size:22px;
}
.event-content h3{
  margin:40px 0 20px;
  font-size:52px;
}

.signature{
  margin-top:30px;
}

/* AGENDA */
.agenda div{
  padding:10px 0;
  border-bottom:1px solid #000;
  font-size:14px;
}

.agenda span{
  display:inline-block;
  width:70px;
  font-weight:700;
}

/* RESPONSIVE */
@media(max-width:900px){
  .event-wrapper{
    grid-template-columns:1fr;
  }
}


.course-intro{
  background:#000;
  padding:80px 0px 0px 0px;
  color: #eee;
}

.course-wrap{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:220px 1fr;
  gap:60px;
  padding:0 20px;
}

/* LEFT */
.course-side h4{
  font-size:18px;
  letter-spacing:1px;
  margin-bottom:12px;
}

.course-side ul{
  list-style:none;
  padding:0;
  margin-bottom:30px;
}

.course-side ul li{
  font-size:18px;
  margin-bottom:6px;
}

.share a{
  margin-right:18px;
  font-weight:600;
  text-decoration:none;
  color:#fff;
}

/* CENTER */
.course-main{
  text-align:center;
}

.course-main h1{
  font-size:32px;
  line-height:1.4;
  color:#96332c;
  margin-bottom:30px;
  font-weight:700;
}

.course-main p{
  max-width:700px;
  margin:0 auto 20px;
  font-size:18px;
  line-height:1.8;
  color:#cccccc;
}

/* GALLERY */
.course-gallery{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

.course-gallery img{
  width:90px;
  height:90px;
  border-radius:50%;
  object-fit:cover;
}

/* RESPONSIVE */
@media(max-width:900px){
  .course-wrap{
    grid-template-columns:1fr;
  }

  .course-main{
    text-align:left;
  }
}

.img-circle {
    border-radius: 51%;
}